/* src/App.css */

/* Общие стили для приложения */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #121212; /* Очень темно-серый, почти черный */
  color: #fff; /* Белый текст для хорошего контраста */
  margin: 0; /* Ensure no default body margins */
  padding: 0;
}

/* Стили для основного контента */
main {
  padding: 20px;
  flex-grow: 1;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #fff; /* Добавлен цвет текста для заголовков */
}

/* Стили для подвала (Footer) */
.site-footer {
  background-color: #212121;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us,
.menu,
.contact {
  margin-bottom: 20px;
  text-align: left;
}

.about-us {
  width: 400px;
}

.menu ul,
.contact ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a,
.contact a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover,
.contact a:hover {
  color: #ddd;
}

.contact li {
  margin-bottom: 10px;
}

.contact a,
.contact a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.contact a:hover,
.contact a:hover {
  color: #ddd;
}

.copyright-text {
  font-size: 0.9em;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
  }

  .navbar {
    margin-top: 0;
  }

  .navbar ul {
    flex-direction: row;
    text-align: left;
  }

  .navbar li {
    margin-left: 30px;
    margin-bottom: 0;
  }
}
