/* src/App.css */

/* Общие стили для приложения */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #121212; /* Очень темно-серый, почти черный */
  color: #fff; /* Белый текст для хорошего контраста */
  margin: 0; /* Ensure no default body margins */
  padding: 0;
}

/* Стили для основного контента */
main {
  padding: 20px;
  flex-grow: 1;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #fff; /* Добавлен цвет текста для заголовков */
}

